.p {
  padding-top: 80rem;
  padding-inline: var(--p-i);
}
.product_title {
  max-width: 1250rem;
  font-family: 'cg';
  font-size: 90rem;
  font-weight: 500;
  line-height: 1;
}

.product_info {
  padding-inline: var(--p-i);
  @media (width > 1000px) {
    padding-inline: 0;
  }
}

.product_price {
  font-size: 16px;
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.product_atc button {
  width: 100%;
  padding-block: 16px;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 40px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.1;
}
.product_atc button:disabled {
  background-color: #999;
}

.product_desc p {
  font-size: 14px;
  line-height: 1.5;
  color: #555;
}
