.p {
  /* padding-top: 40px; */
}
.h-ph {
  height: unset;
}
.m {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  height: 100vh;
}
.m .logo {
  width: 550rem;
}
.m .logo svg {
  mix-blend-mode: difference;
  fill: #75eada;
}
.f {
  display: none;
}

