.p {
  /* padding-top: 40px; */
}
.h-ph {
  height: unset;
}
.m {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  height: 100vh;
}
.m .logo {
  width: 550rem;
}
.m .logo svg {
  mix-blend-mode: difference;
  fill: #75eada;
}
.images {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  position: absolute;
  overflow: hidden;
}
.images figure {
  position: absolute;
}
.images figure:nth-of-type(1) {
}
.images figure:nth-of-type(2) {
}
.images figure:nth-of-type(3) {
}
.images figure:nth-of-type(4) {
}

.f {
  display: none !important;
}

@keyframes imageA {
  0% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
