.p {
  /* padding-top: 40px; */
}
.h-ph {
  height: unset;
}
.m {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  height: 100vh;
}
.m .logo {
  width: 550rem;
}
.m .logo svg {
  mix-blend-mode: difference;
  fill: #75eada;
}
.images {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  position: absolute;
  overflow: hidden;
}
.images figure {
  position: absolute;
  opacity:0;
}
.images figure:nth-of-type(1) {
  left: 10vw;
  top: 7vh;
  animation: imageA 12s linear infinite;
}
.images figure:nth-of-type(2) {
  right: 10vw;
  bottom: 12vh;
  animation: home_img 12s linear infinite;
  animation-delay: 3s;
}
.images figure:nth-of-type(3) {
  right: 12vw;
  top: 7vh;
  animation: home_img 12s linear infinite;
  animation-delay: 9s;
}
.images figure:nth-of-type(4) {
  left: 16vw;
  bottom: 18vh;
  animation: home_img 12s linear infinite;
  animation-delay: 6s;
}

.f {
  display: none !important;
}

@keyframes imageA {
  0% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
