.p {
  min-height: calc(100dvh - var(--h-h) - 358rem);
  min-height: calc(100vh - var(--h-h) - 358rem);
}

.header {
  padding-top: 80rem;
  padding-inline: var(--p-i);
}
.header h1 {
  font-family: "cg";
  font-size: 90rem;
  font-weight: 500;
  text-align: center;
}
.header p {
  margin-top: 40rem;
  margin-inline: auto;
  max-width: 1200rem;
  font-size: 24rem;
  font-family: "cg";
  text-align: center;
}
