.p {
  min-height: calc(100dvh - var(--h-h) - 358rem);
  min-height: calc(100vh - var(--h-h) - 358rem);
}

.products{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300rem, 1fr));

}
