.p {
  min-height: calc(100dvh - var(--h-h) - 358rem);
  min-height: calc(100vh - var(--h-h) - 358rem);
  padding-bottom: 80rem;
}

.category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.category img {
  aspect-ratio: 3/4;
}
.category h2 {
  text-align: center;
  font-size: 40rem;
  font-fam
  font-weight: 500;
}
