.p {
  min-height: calc(100dvh - var(--h-h) - 358rem);
  min-height: calc(100vh - var(--h-h) - 358rem);
  padding-bottom: 80rem;
  padding-inline: var(--p-i);
}

.category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20rem;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.cat_h {
  grid-column: 2;
}
.cat_h h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40rem;
  font-family: "cg";
  font-weight: 500;
}
.cat_h nav {
  margin-top: 24rem;
  display: flex;
  justify-content: center;
  gap: 24rem;
}

.category img {
  aspect-ratio: 3/4;
}
.category figure:nth-child(1) {
  background: blue;
}
.category figure:nth-child(4) {
  background: blue;
}
.category figure:nth-child(5) {
  background: red;
}
.category figure:nth-child(6) {
  background: green;
}
