.p {
  padding-top: 80rem;
  padding-inline: var(--p-i);
}
.product_title {
  margin-inline: auto;
  max-width: 1250rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "cg";
  font-size: 90rem;
  font-weight: 500;
  line-height: 1;
}

.product_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.product_info .l {
  width: 160rem;
}

.product_info .c {
  max-width: 690rem;
  text-align: center;
}
.product_desc {
  font-size: 16rem;
  /* line-height: 1.5; */
  /* color: #555; */
}
.product_info .r {
  width: 160rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: flex-end;
  font-size: 16rem;
  color: #555;
}

.product_price {
  font-size: 16px;
}

.product_atc button {
  margin-top: 8rem;
  font-size: 16rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}
.product_atc button:disabled {
  color: #999;
  border-color: transparent;
}
